@import "tailwindcss" source("../dist");

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: icon;
  src: url("./fonts/icon/icon.woff2");
  font-weight: 100 900;
}

@font-face {
  font-family: Exo;
  src: url("./fonts/Exo/Exo-VariableFont_wght.ttf");
  font-weight: 100 900;
}

@font-face {
  font-family: Exo;
  src: url("./fonts/Exo/Exo-Italic-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: JetBrainsMono;
  src: url("./fonts/JetBrainsMono/JetBrainsMono.ttf");
  font-weight: 100 800;
}

@font-face {
  font-family: JetBrainsMono;
  src: url("./fonts/JetBrainsMono/JetBrainsMono-Italic.ttf");
  font-weight: 100 800;
  font-style: italic;
}

@theme {
  --font-sans: Exo, var(--font-serif);
  --font-mono: JetBrainsMono, ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}

@utility scrollbar-hidden {
  /* Firefox */
  scrollbar-width: none;
  /* IE 10+ */
  -ms-overflow-style: none;
  /* WebKit (Chrome, Safari) */
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility rounded-square {
  @apply px-2 rounded-sm h-full aspect-square text-center;
}

html, body {
  @apply accent-indigo-500 dark:accent-emerald-500 bg-zinc-50 text-zinc-900 dark:bg-zinc-900 dark:text-zinc-50 overflow-hidden! fixed h-dvh w-dvw;
}

::selection {
  @apply bg-indigo-500 text-zinc-100;
}

.dark ::selection {
  @apply bg-emerald-500 text-zinc-800;
}

[data-button], button, select {
  @apply cursor-pointer;
}

.outlined, [data-button], button:not(.plain), select {
  @apply outline -outline-offset-1;
  @apply outline-zinc-300;
  @apply dark:outline-zinc-700;
}

[data-button], button:not(.plain), select {
  &:not(.compact) {
    @apply px-2 py-1;
  }

  &:not(.no-color) {
    @apply bg-zinc-200 text-zinc-800 hover:bg-indigo-500 active:bg-indigo-900 hover:text-zinc-200 active:text-zinc-200;
    @apply dark:bg-zinc-800 dark:text-zinc-100 dark:hover:bg-emerald-500 dark:active:bg-emerald-100 dark:hover:text-zinc-800 dark:active:text-zinc-800;

    &.selected {
      @apply bg-zinc-50 text-zinc-900 dark:bg-zinc-900 dark:text-zinc-100;
    }
  }
}

:disabled {
  @apply opacity-25 cursor-not-allowed;
}

select {
  @apply rounded-md py-1 px-3;
}

i,
[data-icon] {
  font-family: icon, monospace;
  font-style: normal;
  display: inline-block;
  text-align: center;
}

button, input, textarea, select {
  @apply focus:outline focus:outline-indigo-500 dark:focus:outline-emerald-500 -outline-offset-1;
}

:invalid {
  @apply outline-rose-500!;
}

.focus-children {
  @apply has-focus:outline has-focus:outline-indigo-500 dark:has-focus:outline-emerald-500 -outline-offset-1;
}

.focus-sibling {
  @apply peer-focus:outline peer-focus:outline-indigo-500 dark:peer-focus:outline-emerald-500 -outline-offset-1;
}

input:not([type=color]), textarea {
  @apply px-2 rounded-xs bg-zinc-50 text-zinc-900 outline-indigo-700 dark:bg-zinc-900 dark:text-zinc-50 dark:outline-emerald-400;
}

.slide-enter-from, .slide-leave-to {
  @apply translate-y-0;
}
