@import "tailwindcss" source("../dist");

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: icon;
  src: url("./fonts/icon/icon.woff2");
  font-weight: 100 900;
}

@font-face {
  font-family: Exo;
  src: url("./fonts/Exo/Exo-VariableFont_wght.ttf");
  font-weight: 100 900;
}

@font-face {
  font-family: Exo;
  src: url("./fonts/Exo/Exo-Italic-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: JetBrainsMono;
  src: url("./fonts/JetBrainsMono/JetBrainsMono.ttf");
  font-weight: 100 800;
}

@font-face {
  font-family: JetBrainsMono;
  src: url("./fonts/JetBrainsMono/JetBrainsMono-Italic.ttf");
  font-weight: 100 800;
  font-style: italic;
}

@theme {
  --font-sans: Exo, var(--font-serif);
  --font-mono: JetBrainsMono, ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}

.text-shadow {
  text-shadow: 1px 1px 2px black;
}

i,
[data-icon] {
  font-family: icon, monospace;
  font-style: normal;
  display: inline-block;
  text-align: center;
}

input {
  background: #111;
  color: white;
  outline: 1.5px solid;

  &:focus {
    outline-color: var(--color-emerald-500);
    outline-style: dashed;
  }
}
